/* ResponsiveContainer.css */

/* Container for the heading and paragraph */
/* .responsive-container {
    width: 100%;
    max-width: 1349px;
   
    margin: 0 auto;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: Fixed (1,240px);
height: Fixed (213px);
top: 67px;
left: 55px;
gap: 40px

  } */
  
  /* Heading style */
  /* .responsive-heading {
    font-size: 32px; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color:  #03045E;
    ;
  } */
  /* .responsive-heading1 {
    font-size: 25px;

    text-align: center;
    margin-bottom: 10px; 
    color:  #03045E;
    ;
  } */
  
  /* Paragraph style */
  /* .responsive-paragraph {
    font-size: 16px; 
    text-align: center;
  }

@media screen and (max-width: 600px) {
    .responsive-heading {
      font-size: 24px;
    }
    .responsive-paragraph {
      font-size: 14px;
    }
  }
   */